.header-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 3rem;
    background-color: var(--header-bg-colo);
    background-color: blue;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    background-color: var(--header-bg-colo);
}

.header-nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}