
.home-page-container {
  height: calc(100vh - 4rem);
  border-radius: 0.5rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  background-color: var(--footer-bg-color);
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: green;
}

.myswiper {
  width: 60%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  background-color: var(--blogs-bg-color);
}

.swiperslide {
  -webkit-transform: translateZ(0);
}
.image-container {
  width: 100%;
  margin: auto;
}

.image-container img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* Animation */
.ityped-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Tablet */
  
@media screen and (max-width: 1024px) {
  .home-page-container {
    height: calc(100vh - 4rem);
    border-radius: 0.5rem;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--footer-bg-color);
  }

  .myswiper {
    width: 100%;
  }
}

/* smart phones*/

@media screen and (max-width: 760px){
  .home-page-container {
    height: calc(100vh - 4rem);
    border-radius: 0.5rem;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--footer-bg-color);
  }
  .myswiper {
    width: 100%;
  }
}
